<div class="container" align=center>
  <div class="postit">
    <%= simple_form_for(@task) do |f| %>
      <% if @task.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

          <ul>
          <% @task.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-inputs">
        <%= f.input :title, required: true, autofocus: true %>
        <%= f.association :child, label: 'Child', class: 'form-control', required: true  %><br>
      </div>
      <div class="form-actions">
        <div class="form-group">
          <%= f.submit 'Create', class: 'button btn btn-default' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
