<!-- <p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @task.title %>
</p>

<p>
  <strong>Isdone:</strong>
  <%= @task.isDone %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @task.created_at %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>-->

<div class="container rotate" align=center>
  <div class="postit">
  
    <p class="stack-label"> <b><%= @task.title %></b> </p>

    <table class="table">
      <% if notice %> 
        <caption id="notice" class="alert alert-success"><%= notice %></caption>
      <% end %> 
      <tbody> 
        <tr> 
          <th scope="row">Created At</th> <td><%= @task.created_at %></td> 
        </tr>
        <tr> 
          <th scope="row">Mother</th> <td><%= @task.mother.name %></td> 
        </tr>
        <tr> 
          <th scope="row">Child</th> <td><%= @task.child.name %></td> 
        </tr>
        <tr> 
          <th scope="row">Is Done ?</th> <td><%= @task.isDone %></td> 
        </tr> 
      </tbody> 
    </table>

    <div class="postit-footer">
			<% if @task.isDone == true %>
        <p>
  				<%= link_to change_status_task_path(@task), method: :put do %>
            Undone
          <% end %>
        </p>
			<% else %>
        <p>
          <%= link_to change_status_task_path(@task), method: :put, title: "Done" do %>
            <i class="fa fa-check-square-o fa-2x" aria-hidden="true"></i>
          <% end %>
        </p><!--
     --><p>
          <a data-toggle="modal" data-target="#taskModal" title="Done with proof">
  				  <span class="fa-stack fa-2x fa-custom">
              <i class="fa fa-check-square-o fa-stack-1x"></i>
              <strong class="fa-stack-1x check-text"><i class="fa fa-plus fa-custom-plus" aria-hidden="true"></i></strong>
            </span>
          </a>
        </p>
			<% end %>
      <p><%= link_to 'Edit', edit_task_path(@task) %></p><!--
   --><p><%= link_to 'Back', tasks_path %></p>
    </div>
  </div>
</div>


<div class="modal fade" id="taskModal" tabindex="-1" role="dialog" aria-labelledby="taskModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times" aria-hidden="true"></i></button>
        <h3 class="modal-title" id="taskModalLabel">Add proof</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= link_to change_status_task_path(@task), method: :put, class: "btn btn-primary" do %>
          Done
        <% end %>
      </div>
    </div>
  </div>
</div>
