<!-- <p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @task.title %>
</p>

<p>
  <strong>Isdone:</strong>
  <%= @task.isDone %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @task.created_at %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>-->

<div class="container rotate" align=center>
  <div class="postit <%= 'sample' if @task.isDone == true %>">
  
    <p class="stack-label"> <b><%= @task.title %></b> </p>

    <% if notice %> 
      <p id="notice" class="alert alert-success"><%= notice %></p>
    <% end %>

    <p class="postit-description"><%= @task.description %></p>

    <table class="table"> 
      <tbody> 
        <tr> 
          <th scope="row">Created At</th> <td><%= @task.created_at %></td> 
        </tr>
        <tr> 
          <th scope="row">Mother</th> <td><%= @task.mother.name %></td> 
        </tr>
        <tr> 
          <th scope="row">Child</th> <td><%= @task.child.name %></td> 
        </tr>
        <tr> 
          <th scope="row">Is Done ?</th> <td><%= @task.isDone %></td> 
        </tr> 
      </tbody> 
    </table>

    <div class="postit-footer">
			<% if @task.isDone == true %>
        <p>
  				<%= link_to change_status_task_path(@task), method: :put, title: "Undone" do %>
            <i class="fa fa-times-circle-o fa-2x" aria-hidden="true"></i> Mark as undone
          <% end %>
        </p>
			<% else %>
        <p>
          <%= link_to change_status_task_path(@task), method: :put, title: "Done" do %>
            <i class="fa fa-check-circle-o fa-2x" aria-hidden="true"></i> Mark as done
          <% end %>
        </p><!--
     --><p>
          <a data-toggle="modal" data-target="#taskModal" title="Done with proof">
  				  <span class="fa-stack fa-2x fa-custom">
              <i class="fa fa-check-circle-o fa-stack-1x"></i>
              <strong class="fa-stack-1x check-text"><i class="fa fa-plus fa-custom-plus fa-1x" aria-hidden="true"></i></strong>
            </span> Mark as done with proof
          </a>
        </p>
			<% end %>
      <div class="postit-buttons">
        <p><%= link_to 'Edit', edit_task_path(@task) %></p><!--
     --><p><%= link_to 'Back', tasks_path %></p>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="taskModal" tabindex="-1" role="dialog" aria-labelledby="taskModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times" aria-hidden="true"></i></button>
        <h3 class="modal-title" id="taskModalLabel">Add proof</h3>
      </div>
      <%= simple_form_for @task, url: update_task_path, method: :put do |f| %>
        <div class="modal-body">
          <%= f.input :answer, autofocus: true %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <%= f.submit 'Done', class: 'button btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
