<div class="container rotate" align=center>
  <div class="postit">
  
    <p class="stack-label"> <b><%= @user.name %></b> </p>

    <table class="table"> 
      <% if notice %> 
        <caption id="notice" class="alert alert-success"><%= notice %></caption>
      <% end %>  
      <tbody> 
        <tr> 
          <th scope="row">Name</th> <td><%= @user.name %></td> 
        </tr>
        <tr> 
          <th scope="row">Username</th> <td><%= @user.username %></td> 
        </tr>
        <tr> 
          <th scope="row">Role</th> <td><%= @user.role %></td> 
        </tr>
        <tr> 
          <th scope="row">Created At</th> <td><%= @user.created_at %></td> 
        </tr> 
      </tbody> 
    </table>

    <!-- <div class="card-stack-container">
      <div id="cardStackContainer">
        <% @user.tasks.where(mother: @user).each do |task| %>
          <ul id="postit_<%= task.id %>" class="card-stack ui-sortable">
            <li class="stack-label"><%= task.title %></li>
            <li class="item"><%= task.created_at %></li>
            <li class="item"><%= task.mother.name %></li>
            <li class="item"><%= task.child.name %></li>
          </ul>
        <% end %>
    </div> -->

    <div class="postit-footer">
      <p><%= link_to 'Edit', edit_user_registration_path %></p><p><%= link_to 'Back', users_path %></p>
    </div>
  </div>
</div>