<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<meta name="description" content="ToDO List For Mother&amp;Children">
    	<meta name="author" content="PinnacklTeam">

    	<title>Ok Mom</title>
		
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		
		
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		

		<%= csrf_meta_tags %>
		</head>
		<body>

			<div class="site-wrapper">

		      <div class="site-wrapper-inner">

		        <div class="cover-container">

		          <div class="masthead clearfix">
		            <div class="inner">
		              <nav class="navbar transparent navbar-default navbar-fixed-top">
					      <div class="container">
					        <div class="navbar-header">
					          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					            <span class="sr-only">Toggle navigation</span>
					            <span class="icon-bar"></span>
					            <span class="icon-bar"></span>
					            <span class="icon-bar"></span>
					          </button>
					          <a class="navbar-brand" href="#"><span class="logo-title">OkMom</span></a>
					        </div>
					        <div id="navbar" class="navbar-collapse collapse">
					          <ul class="nav navbar-nav">
					            <!-- <li><%= link_to 'Home', root_path %></li> -->
					            <li>
					            	<%= link_to tasks_path, title: "My Tasks" do %>
					            		<i class="fa fa-sticky-note-o fa-2x nav-icon" aria-hidden="true"></i><span class="nav-text">Tasks</span>
					            	<% end %>
					            </li>
					          </ul>
					          <ul class="nav navbar-nav navbar-right">
					            <% if user_signed_in? %>
								    <li>
								    	<%= link_to current_user, title: current_user.username do %>
								    		<i class="fa fa-user fa-2x nav-icon" aria-hidden="true"></i><span class="nav-text">Profile</span>
								    	<% end %>
								    </li>
								    <li>
								    	<%= link_to destroy_user_session_path, method: :delete, title: "Log out" do %>
								    		<i class="fa fa-sign-out fa-2x nav-icon" aria-hidden="true"></i><span class="nav-text">Log out</span>
								    	<% end %>
								    </li>
							    <% else %>
								    <li>
								    	<%= link_to new_user_session_path, title: "Sign in" do %>
								    		<i class="fa fa-sign-in fa-2x nav-icon" aria-hidden="true"></i><span class="nav-text">Sign in</span>
								    	<% end %>
								    </li>
							    <% end %>
					          </ul>
					        </div>
					      </div>
					    </nav>
		            </div>
		          </div>

		          <div class="inner cover">
		          	<div class="col-lg-offset-1 col-lg-10">
		          		<div class="container" align=center>
		            		<%= yield %>
		            	</div>
		            </div>
		          </div>

		          <!-- <div class="mastfoot col-md-12">
		            <div class="inner">
		              <p>Created By PinnacklTeam - Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
		            </div>
		          </div> -->

		        </div>

		      </div>

		    </div>

		</body>
</html>
