<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<meta name="description" content="ToDO List For Mother&amp;Children">
    	<meta name="author" content="PinnacklTeam">

    	<title>Ok Mom</title>
		
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<% unless Rails.application.assets.find_asset("#{controller_name}.css").nil? %>
			<%= stylesheet_link_tag controller_name, media: 'all', 'data-turbolinks-track' => true %>
		<% end %>
		
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<% unless Rails.application.assets.find_asset("#{controller_name}.js").nil? %>
			<%= javascript_include_tag controller_name, media: 'all', 'data-turbolinks-track' => true %>
		<% end %>

		<%= csrf_meta_tags %>
		</head>
		<body>

			<div class="site-wrapper">

		      <div class="site-wrapper-inner">

		        <div class="cover-container">

		          <div class="masthead clearfix">
		            <div class="inner">
		              <h3 class="masthead-brand">Ok Mom</h3>
		              <nav>
		                <ul class="nav masthead-nav">
		                  <li class="active"><a href="#">Home</a></li>
		                  <li><a href="#">Tasks</a></li>
		                  <% if user_signed_in? %>
							  <li><i class="fa fa-user fa-2x" aria-hidden="true"></i> <%= current_user.username %></li>
							  <li><%= link_to 'Se déconnecter', destroy_user_session_path, method: :delete %></li>
						  <% else %>
							  <li><%= link_to 'Se connecter', new_user_session_path %></li>
						  <% end %>

		                </ul>
		              </nav>
		            </div>
		          </div>

		          <div class="inner cover">
		          	<div class="col-md-offset-2 col-md-8">
		            	<%= yield %>
		            </div>
		          </div>

		          <div class="mastfoot">
		            <div class="inner">
		              <p>Created By PinnacklTeam - Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
		            </div>
		          </div>

		        </div>

		      </div>

		    </div>

		</body>
</html>
